* {
    box-sizing: border-box;

}

body {
    margin: 0;
    padding:0;
    border: 0;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.main{
    background-color: whitesmoke;
    width: 450px;
    height:450px;
    border: black solid 30px;
    margin: 0;
    
    }